<div id="kt_app_content" class="app-content  flex-column-fluid ">


  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container  container-xxl ">
    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
    <!--begin::Form-->
    <form id="kt_ecommerce_add_product_form"
      class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
      data-kt-redirect="/metronic8/demo1/apps/ecommerce/catalog/products.html">
      <!--begin::Aside column-->
      <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
        <!--begin::Thumbnail settings-->
        <div class="card card-flush py-4">
          <!--begin::Card header-->
          <div class="card-header">
            <!--begin::Card title-->
            <div class="card-title">
              <h2>Fotografía</h2>
            </div>
            <!--end::Card title-->
          </div>
          <!--end::Card header-->

          <!--begin::Card body-->
          <div class="card-body text-center pt-0">
            <!--begin::Image input-->
            <!--begin::Image input placeholder-->
            <!-- <style>
              .image-input-placeholder {
                background-image: url('../../../../');
              }

              [data-bs-theme="dark"] .image-input-placeholder {
                background-image: url('../../../../assets/media/svg/files/blank-image-dark.svg');
              }
            </style> -->
            <!--end::Image input placeholder-->

            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
              data-kt-image-input="true"
              [ngStyle]="{'background-image': 'url(' + avatar_previsualiza +')'}"
              >
              <!--begin::Preview existing avatar-->
              <div class="image-input-wrapper w-150px h-150px"></div>
              <!--end::Preview existing avatar-->

              <!--begin::Label-->
              <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
                data-bs-original-title="Change avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-pencil fs-7" >
                  <span class="path1"></span>
                  <span class="path2"></span></i>
                <!--begin::Inputs-->
                <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="processFile($event)">
                <input type="hidden" name="avatar_remove">
                <!--end::Inputs-->
              </label>
              <!--end::Label-->

              <!--begin::Cancel-->
              <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
                data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i> </span>
              <!--end::Cancel-->

              <!--begin::Remove-->
              <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"
                data-bs-original-title="Remove avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i> </span>
              <!--end::Remove-->
            </div>
            <!--end::Image input-->

            <!--begin::Description-->
            <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are
              accepted</div>
            <!--end::Description-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Thumbnail settings-->
        <!--begin::Status-->
        <div class="card card-flush py-4">
          <!--begin::Card header-->
          <div class="card-header">
            <!--begin::Card title-->
            <div class="card-title">
              <h2>Activo</h2>
            </div>
            <!--end::Card title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
              <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
            </div>
            <!--begin::Card toolbar-->
          </div>
          <!--end::Card header-->


        </div>
        <!--end::Status-->
      </div>
      <!--end::Aside column-->

      <!--begin::Main column-->
      <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <!--begin:::Tabs-->
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2"
          role="tablist">
          <!--begin:::Tab item-->
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(1)" [ngClass]="{'active': tab_selected == 1}" data-bs-toggle="tab"
              href="#kt_ecommerce_add_product_general" aria-selected="true" role="tab">Regitro de datos</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(2)" [ngClass]="{'active': tab_selected == 2}" data-bs-toggle="tab"
              href="#kt_ecommerce_add_product_general" aria-selected="true" role="tab">Datos del trabajador</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(3)" [ngClass]="{'active': tab_selected == 3}" data-bs-toggle="tab"
              href="#kt_ecommerce_add_product_general" aria-selected="true" role="tab">Datos del domicilio</a>
          </li>
          <!--end:::Tab item-->



        </ul>
        <!--end:::Tabs-->
        <!--begin::Tab content-->
        <div class="tab-content">
          <!--begin::Tab pane-->
          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 1}" id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">

              <!--begin::General options-->
              <div class="card card-flush py-4">
                <!--begin::Card header-->
                <!-- <div class="card-header">
                  <div class="card-title">
                    <h2>Datos generales</h2>
                  </div>
                </div> -->
                <!--end::Card header-->

                <!--begin::Card body-->
                <div class="card-body pt-0">
                  <!--begin::Input group-->
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Nombre del empleado</label>
                      <!--end::Label-->

                      <!--begin::Input-->
                      <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del empleado"
                        value="">
                      <!--end::Input-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Apellido paterno</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="appaterno" class="form-control mb-2" placeholder="Apellido paterno"
                        value="">
                      <!--end::Input-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Apellido materno</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="apmaterno" class="form-control mb-2" placeholder="Apellido materno"
                        value="">
                      <!--end::Input-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">CURP</label>
                      <!--end::Label-->

                      <!--begin::Input-->
                      <input type="text" name="curp" class="form-control mb-2" placeholder="CURP del empleado"
                        value="">
                      <!--end::Input-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Télefono</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="tel" name="telefono" class="form-control mb-2" placeholder="Número de contacto"
                        value="">
                      <!--end::Input-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <!--begin::Input group-->
                  <div class="fv-row mb-10">
                    <!--begin::Label-->
                    <label class="form-label required">
                      Género </label>
                    <!--End::Label-->

                    <!--begin::Row-->
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-4 g-6" data-kt-buttons="true"
                      data-kt-buttons-target="[data-kt-button='true']" data-kt-initialized="1">
                      <!--begin::Col-->
                      <div class="col">
                        <!--begin::Option-->
                        <label
                          class="btn btn-outline btn-outline-dashed btn-active-light-primary  d-flex text-start p-2"
                          data-kt-button="true" [ngClass]="{'active' : is_genero  == 'masculino'}">
                          <!--begin::Radio-->
                          <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" name="genero" (click)="selectedGenero('masculino')">
                          </span>
                          <!--end::Radio-->

                          <!--begin::Info-->
                          <span class="ms-5">
                            <span class="fs-4 fw-bold text-gray-800 d-block">Masculino</span>
                          </span>
                          <!--end::Info-->
                        </label>
                        <!--end::Option-->
                      </div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <div class="col">
                        <!--begin::Option-->
                        <label class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-2"
                          data-kt-button="true" [ngClass]="{'active' : is_genero  == 'femenino'}">
                          <!--begin::Radio-->
                          <span
                            class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                            <input class="form-check-input" type="radio" name="genero" (click)="selectedGenero('femenino')">
                          </span>
                          <!--end::Radio-->

                          <!--begin::Info-->
                          <span class="ms-5">
                            <span class="fs-4 fw-bold text-gray-800 d-block">Femenino</span>
                          </span>
                          <!--end::Info-->
                        </label>
                        <!--end::Option-->
                      </div>
                      <!--end::Col-->
                    </div>
                    <!--end::Row-->
                  </div>
                  <!--end::Input group-->
                  </div>
                </div>
                <!--end::Card header-->
              </div>
              <!--end::General options-->

            </div>
          </div>
          <!--end::Tab pane-->
          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 2}" id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">
              <!--begin::Pricing-->
              <div class="card card-flush py-4">
                <!--begin::Card header-->
                <!-- <div class="card-header">
                  <div class="card-title">
                    <h2>Datos del trabajador</h2>
                  </div>
                </div> -->
                <!--end::Card header-->

                <!--begin::Card body-->
                <div class="card-body pt-0">
                  <!--begin::Input group-->
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">RFC</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="rfc" class="form-control mb-2" placeholder="RFC del empleado">
                      <!--end::Input-->
                      <!--begin::Description-->
                      <div class="text-muted fs-7">Para personas físicas es de 13 digistos.</div>
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">N° del Seguro Social</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="seguro_social" class="form-control mb-2" placeholder="NSS del empleado">
                      <!--end::Input-->
                      <!--begin::Description-->
                      <div class="text-muted fs-7">Set the product price.</div>
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="fv-row w-100 flex-md-root fv-plugins-icon-container col-sm-12 col-md-6 mb-10" >
                      <!--begin::Label-->
                      <label class="required form-label">Departamento</label>
                      <!--end::Label-->

                      <!--begin::Select2-->
                      <select class="form-select mb-2 select2-hidden-accessible" name="tax" data-control="select2"
                        data-hide-search="true" data-placeholder="Select an option"
                        data-select2-id="select2-data-15-pars" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                        <option data-select2-id="select2-data-17-g8qb"></option>
                        <option value="0">Tax Free</option>
                        <option value="1">Taxable Goods</option>
                        <option value="2">Downloadable Product</option>
                      </select>
                      <!-- <span class="select2 select2-container select2-container--bootstrap5" dir="ltr"
                        data-select2-id="select2-data-16-b69i" style="width: 100%;"><span class="selection"><span
                            class="select2-selection select2-selection--single form-select mb-2" role="combobox"
                            aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                            aria-labelledby="select2-tax-uq-container" aria-controls="select2-tax-uq-container"><span
                              class="select2-selection__rendered" id="select2-tax-uq-container" role="textbox"
                              aria-readonly="true" title="Select an option"><span
                                class="select2-selection__placeholder">Select an option</span></span><span
                              class="select2-selection__arrow" role="presentation"><b
                                role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                          aria-hidden="true"></span></span> -->
                      <!--end::Select2-->

                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="fv-row w-100 flex-md-root fv-plugins-icon-container col-sm-12 col-md-6 mb-10">
                      <!--begin::Label-->
                      <label class="required form-label">Puesto</label>
                      <!--end::Label-->

                      <!--begin::Select2-->
                      <select class="form-select mb-2 select2-hidden-accessible" name="tax" data-control="select2"
                        data-hide-search="true" data-placeholder="Select an option"
                        data-select2-id="select2-data-15-pars" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                        <option data-select2-id="select2-data-17-g8qb"></option>
                        <option value="0">Tax Free</option>
                        <option value="1">Taxable Goods</option>
                        <option value="2">Downloadable Product</option>
                      </select>
                      <!-- <span class="select2 select2-container select2-container--bootstrap5" dir="ltr"
                        data-select2-id="select2-data-16-b69i" style="width: 100%;"><span class="selection"><span
                            class="select2-selection select2-selection--single form-select mb-2" role="combobox"
                            aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                            aria-labelledby="select2-tax-uq-container" aria-controls="select2-tax-uq-container"><span
                              class="select2-selection__rendered" id="select2-tax-uq-container" role="textbox"
                              aria-readonly="true" title="Select an option"><span
                                class="select2-selection__placeholder">Select an option</span></span><span
                              class="select2-selection__arrow" role="presentation"><b
                                role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                          aria-hidden="true"></span></span> -->
                      <!--end::Select2-->

                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Fecha de ingreso</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="date" name="fecha_ingreso" class="form-control mb-2">
                      <!--end::Input-->
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <!--end::Input group-->
                  <!--end:Tax-->
                </div>
                <!--end::Card header-->
              </div>
            </div>
          </div>

          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 3}" id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">

              <div class="card card-flush py-4">
                <!--begin::Card header-->
                <!-- <div class="card-header">
                  <div class="card-title">
                    <h2>Datos del domiclio</h2>
                  </div>
                </div> -->
                <!--end::Card header-->

                <!--begin::Card body-->
                <div class="card-body pt-0">
                  <!--begin::Input group-->
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-12 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Dirección</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="direccion" class="form-control mb-2" placeholder="Dirección del empleado">
                      <!--end::Input-->
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Colonia</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="colonia" class="form-control mb-2" placeholder="NSS del empleado">
                      <!--end::Input-->
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <!--begin::Label-->
                      <label class="required form-label">Municipio</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="text" name="municipio" class="form-control mb-2" placeholder="NSS del empleado">
                      <!--end::Input-->
                      <!--end::Description-->
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <!--end::Input group-->
                  <!--end:Tax-->
                </div>
                <!--end::Card header-->
              </div>
              <!--end::Pricing-->
            </div>
          </div>
        </div>
        <!--end::Tab content-->

        <div class="d-flex justify-content-end">
          <!--begin::Button-->
          <a href="/metronic8/demo1/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel"
            class="btn btn-light me-5">
            Cancel
          </a>
          <!--end::Button-->

          <!--begin::Button-->
          <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
            <span class="indicator-label">
              Save Changes
            </span>
            <span class="indicator-progress">
              Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </button>
          <!--end::Button-->
        </div>
      </div>
      <!--end::Main column-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content container-->
</div>
