<div id="kt_app_content" class="app-content  flex-column-fluid ">


  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container  container-xxl ">
    <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
    <!--begin::Form-->
    <form id="kt_ecommerce_add_product_form"
      class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
       [formGroup]="form" (ngSubmit)="store()">
      <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
        <div class="card card-flush py-4">
          <div class="card-header">
            <div class="card-title">
              <h2>Fotografía</h2>
            </div>
          </div>
          <div class="card-body text-center pt-0">
            <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
              data-kt-image-input="true" [ngStyle]="{'background-image': 'url(' + avatar_previsualiza +')'}">
              <div class="image-input-wrapper w-150px h-150px"></div>
              <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change" data-bs-toggle="tooltip" aria-label="Change avatar"
                data-bs-original-title="Change avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-pencil fs-7">
                  <span class="path1"></span>
                  <span class="path2"></span></i>
                <input type="file" name="avatar" accept=".png, .jpg, .jpeg" (change)="processFile($event)">
                <input type="hidden" name="avatar_remove">
              </label>
              <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel" data-bs-toggle="tooltip" aria-label="Cancel avatar"
                data-bs-original-title="Cancel avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i> </span>
              <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove" data-bs-toggle="tooltip" aria-label="Remove avatar"
                data-bs-original-title="Remove avatar" data-kt-initialized="1">
                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i> </span>
            </div>
            <div class="text-muted fs-7">Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are
              accepted</div>
          </div>
        </div>
        <div class="card card-flush py-4">
          <div class="card-header">
            <div class="card-title">
              <h2>Activo</h2>
            </div>
            <div class="card-toolbar">
              <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-n2"
          role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(1)"
              [ngClass]="{'active': tab_selected == 1}" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general"
              aria-selected="true" role="tab">Regitro de datos</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(2)"
              [ngClass]="{'active': tab_selected == 2}" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general"
              aria-selected="true" role="tab">Datos del trabajador</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" onclick="return false;" (click)="selectedTab(3)"
              [ngClass]="{'active': tab_selected == 3}" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general"
              aria-selected="true" role="tab">Datos del domicilio</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 1}"
            id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">
              <div class="card card-flush py-4">
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <label class="required form-label">Nombre del empleado</label>
                      <input #nombreInput formControlName="nombre" type="text" name="nombre" class="form-control mb-2"
                        placeholder="Nombre del empleado" required [ngClass]="{
                          'is-invalid': form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)
                        }" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.dirty || form.get('nombre')?.touched)">
                        <div *ngIf="form.get('nombre')?.errors?.required">El nombre es requerido</div>
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <label class="required form-label">Apellido paterno</label>
                      <input type="text" name="appaterno" class="form-control mb-2" placeholder="Apellido paterno"
                        #appaternoInput formControlName="appaterno" required [ngClass]="{
                        'is-invalid': form.get('appaterno')?.invalid && (form.get('appaterno')?.dirty || form.get('appaterno')?.touched)
                      }" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('appaterno')?.invalid && (form.get('appaterno')?.dirty || form.get('appaterno')?.touched)">
                        <div *ngIf="form.get('appaterno')?.errors?.required">El apellido paterno es requerido</div>
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-4 col-sm-12">
                      <label class="required form-label">Apellido materno</label>
                      <input type="text" name="apmaterno" class="form-control mb-2" placeholder="Apellido materno"
                        required #apmaternoInput formControlName="apmaterno" [ngClass]="{
                        'is-invalid': form.get('apmaterno')?.invalid && (form.get('apmaterno')?.dirty || form.get('apmaterno')?.touched)
                      }" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('apmaterno')?.invalid && (form.get('apmaterno')?.dirty || form.get('apmaterno')?.touched)">
                        <div *ngIf="form.get('apmaterno')?.errors?.required">El apellido materno es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">CURP</label>
                      <input type="text" name="curp" class="form-control mb-2" placeholder="CURP del empleado" required
                        #curpInput formControlName="curp" [ngClass]="{
                          'is-valid': form.get('curp')?.valid && (form.get('curp')?.dirty || form.get('curp')?.touched),
                          'is-invalid': form.get('curp')?.invalid && (form.get('curp')?.dirty || form.get('curp')?.touched)
                        }" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('curp')?.invalid && (form.get('curp')?.dirty || form.get('curp')?.touched)">
                        <div *ngIf="form.get('curp')?.errors?.required">El CURP es requerido</div>
                        <div *ngIf="form.get('curp')?.errors?.invalidcurp">El CURP no es válido</div>
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">Télefono</label>
                      <input type="tel" name="telefono" class="form-control mb-2" placeholder="Número de contacto"
                        required #telefonoInput formControlName="telefono" [ngClass]="{
                          'is-invalid': form.get('telefono')?.invalid && (form.get('telefono')?.dirty || form.get('telefono')?.touched)
                        }" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('telefono')?.invalid && (form.get('telefono')?.dirty || form.get('telefono')?.touched)">
                        <div *ngIf="form.get('telefono')?.errors?.required">El telefono es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="fv-row mb-10">
                      <label class="form-label required">
                        Género </label>
                      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-4 g-6" data-kt-buttons="true"
                        data-kt-buttons-target="[data-kt-button='true']" data-kt-initialized="1">
                        <div class="col">
                          <label
                            class="btn btn-outline btn-outline-dashed btn-active-light-primary  d-flex text-start p-2"
                            data-kt-button="true" [ngClass]="{'active' : is_genero  == 'masculino'}">
                            <span
                              class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                              <input class="form-check-input" type="radio" value="masculino"
                                (click)="selectedGenero('masculino')" required #generoInput formControlName="genero">
                            </span>
                            <span class="ms-5">
                              <span class="fs-4 fw-bold text-gray-800 d-block">Masculino</span>
                            </span>
                          </label>
                        </div>
                        <div class="col">
                          <label
                            class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start p-2"
                            data-kt-button="true" [ngClass]="{'active' : is_genero  == 'femenino'}">
                            <span
                              class="form-check form-check-custom form-check-solid form-check-sm align-items-start mt-1">
                              <input class="form-check-input" type="radio" value="femenino" #generoInput formControlName="genero"
                                (click)="selectedGenero('femenino')" required>
                            </span>
                            <span class="ms-5">
                              <span class="fs-4 fw-bold text-gray-800 d-block">Femenino</span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Tab pane-->
          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 2}"
            id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">
              <div class="card card-flush py-4">
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">RFC</label>
                      <input type="text" class="form-control mb-2" placeholder="RFC del empleado" #rfcInput name="rfc"
                        formControlName="rfc" [ngClass]="{
                        'is-valid': form.get('rfc')?.valid && (form.get('rfc')?.dirty || form.get('rfc')?.touched),
                        'is-invalid': form.get('rfc')?.invalid && (form.get('rfc')?.dirty || form.get('rfc')?.touched)
                      }" />
                      <div class="text-muted fs-7">Para personas físicas es de 13 digistos.</div>
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('rfc')?.invalid && (form.get('rfc')?.dirty || form.get('rfc')?.touched)">
                        <div *ngIf="form.get('rfc')?.errors?.required">El RFC es requerido</div>
                        <div *ngIf="form.get('rfc')?.errors?.invalidRFC">El RFC no es válido</div>
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">N° del Seguro Social</label>
                      <input type="text" name="seguro_social" class="form-control mb-2" placeholder="NSS del empleado"
                        #seguro_socialInput formControlName="seguro_social"
                        [ngClass]="{
                        'is-invalid': form.get('seguro_social')?.invalid && (form.get('seguro_social')?.dirty || form.get('seguro_social')?.touched)}" />
                      <div class="text-muted fs-7">Set the product price.</div>
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('seguro_social')?.invalid && (form.get('seguro_social')?.dirty || form.get('seguro_social')?.touched)">
                        <div *ngIf="form.get('seguro_social')?.errors?.required">El seguro social del empleado es
                          requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="fv-row w-100 flex-md-root fv-plugins-icon-container col-sm-12 col-md-6 mb-10">
                      <label class="required form-label">Departamento</label>
                      <select class="form-select mb-2 select2-hidden-accessible"
                         formControlName="departamento_id" (change)="onDepartamentoChange(form.value.departamento_id)">
                        <option value="0" selected>-Selecciona una opcion-</option>
                        <ng-container *ngFor="let DEPARTAMENTO of DEPARTAMENTOS">
                          <option [value]="DEPARTAMENTO.id">{{DEPARTAMENTO.descripcion}}</option>
                        </ng-container>
                      </select>

                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="fv-row w-100 flex-md-root fv-plugins-icon-container col-sm-12 col-md-6 mb-10">
                      <label class="required form-label">Puesto</label>
                      <ng-container *ngIf="isLoadingPuestos">
                        <span class="indicator-progress" [style.display]="'block'">
                          Cargando puestos, espera por favor...
                          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                      </ng-container>
                      <select class="form-select mb-2 select2-hidden-accessible"
                        name="puesto_id" formControlName="puesto_id">

                        <ng-container *ngFor="let PUESTO of PUESTOS">
                          <option [value]="PUESTO.id">{{PUESTO.descripcion}}</option>
                        </ng-container>
                      </select>
                      <span class="indicator-progress" *ngIf="isLoadingPuestos">
                        Cargando Puestos, espera por favor...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">Fecha de ingreso</label>
                      <input type="date" class="form-control mb-2" #fecha_ingresoInput
                        formControlName="fecha_ingreso"
                        [ngClass]="{
                        'is-invalid': form.get('fecha_ingreso')?.invalid && (form.get('fecha_ingreso')?.dirty || form.get('fecha_ingreso')?.touched)}" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('fecha_ingreso')?.invalid && (form.get('fecha_ingreso')?.dirty || form.get('fecha_ingreso')?.touched)">
                        <div *ngIf="form.get('fecha_ingreso')?.errors?.required">La fecha de ingreso es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade " [ngClass]="{'show active': tab_selected == 3}"
            id="kt_ecommerce_add_product_general" role="tab-panel">
            <div class="d-flex flex-column gap-7 gap-lg-10">
              <div class="card card-flush py-4">
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-12 col-sm-12">
                      <label class="required form-label">Dirección</label>
                      <input type="text" name="domicilio" class="form-control mb-2" placeholder="Dirección del empleado"
                        #domicilioInput formControlName="domicilio"
                        [ngClass]="{
                        'is-invalid': form.get('domicilio')?.invalid && (form.get('domicilio')?.dirty || form.get('domicilio')?.touched)}" />
                      <div class="fv-plugins-message-container invalid-feedback"
                        *ngIf="form.get('domicilio')?.invalid && (form.get('domicilio')?.dirty || form.get('domicilio')?.touched)">
                        <div *ngIf="form.get('domicilio')?.errors?.required">El domicilio es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">Colonia</label>
                      <input type="text" name="colonia" class="form-control mb-2" placeholder="Colonia" #coloniaInput
                        formControlName="colonia"
                        [ngClass]="{
                        'is-invalid': form.get('colonia')?.invalid && (form.get('colonia')?.dirty || form.get('colonia')?.touched)}" />
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                    <div class="mb-10 fv-row fv-plugins-icon-container col-md-6 col-sm-12">
                      <label class="required form-label">Municipio</label>
                      <input type="text" name="municipio" class="form-control mb-2" placeholder="Municipio"
                        #municipioInput formControlName="municipio"
                        [ngClass]="{
                        'is-invalid': form.get('municipio')?.invalid && (form.get('municipio')?.dirty || form.get('municipio')?.touched)}" />
                      <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" id="kt_ecommerce_add_product_submit" class="btn btn-primary">
            <span class="indicator-label">
              Save Changes
            </span>
            <span class="indicator-progress">
              Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
            </span>
          </button>
        </div>
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--end::Content container-->
</div>
